$primaryColor: #FF0000;

body {

  font-family: Verdana;
  font-size: 1.5em;
  background-color: #90C3D4;

  h1{
    color: $primaryColor;
    text-align: center;
  }

}


#team-members {
  clear: both;

  h2{
    text-align: center;
  }

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;

    .image_transition{
      position:relative;
      height: 200px;
      width: 200px;
      margin:0 auto;

      &:hover{
        animation: roll 5s infinite;
      }

      @keyframes roll{
        0%{
          transform: rotate(0);
        }
        100%{
          transform: rotate(360deg);
        }
      }

      img{
        position:absolute;
        left:0;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px black;

        &.normal:hover{
          opacity: 0.2;
        }
      }
    }

    div.name {
      text-align: center;
      color: $primaryColor;  
    }

  }

}
 
